/* sidebar.component.css */
.side-bar {
  width: 100%;
  padding: 40px 20px 20px;
  height: 100%;
  overflow-y: hidden;
}
.side-bar:hover {
  overflow-y: visible;
}
/* Sidebar styles are now handled by Tailwind classes in the template */

.side-bar_links a {
  width: 100%;
}
.humbergBtn {
  cursor: pointer;
}
@media (min-width: 992px) {
  .side-bar .humburgerIcon {
    display: none;
  }
}
