<header class="bg-white shadow-md" dir="rtl">
  <div class="container">
    <nav class="container mx-auto flex gap-[60px] items-center p-4">
      <img src="../../../../assets/images/car.png" class="w-[64px] h-[64px]" alt="">
      <ul class="flex gap-[60px] text-gray-700 font-medium">
        <li><a href="#" class="hover:text-green-700">الصفحة الرئيسية</a></li>
        <li><a href="#" class="hover:text-green-700">عن الشركة</a></li>
        <li><a href="#" class="hover:text-green-700">خدماتنا</a></li>
        <li><a href="#" class="hover:text-green-700">تواصل معنا</a></li>
      </ul>
    </nav>
  </div>
</header>
