<header class="bg-white" dir="rtl">
  <div class="custom-container">
    <nav class="flex items-center justify-between p-4">
      <div class="flex items-center gap-[60px]">
        <img src="../../../../assets/images/car.png" class="w-[64px] h-[64px]" alt="">
        <ul class="header-links flex gap-[30px] text-primaryColor hidden md:flex">
          <li><a href="#" class="hover:text-green-700 p-[10px]">الصفحة الرئيسية</a></li>
          <li><a href="#" class="hover:text-green-700 p-[10px]">من نحن</a></li>
          <li><a href="#" class="hover:text-green-700 p-[10px]">خدماتنا</a></li>
          <li><a href="#" class="hover:text-green-700 p-[10px]">تحميل التطبيق</a></li>
          <li><a href="#" class="hover:text-green-700 p-[10px]">تواصل معنا</a></li>
        </ul>
      </div>
      <div class="flex md:hidden">
        menue
      </div>
    </nav>
  </div>
</header>
