.contactUs-info {
  background-color: #e9f0ee;
  padding:17px;
  @apply w-full lg:w-[35%]
}
.truck {
  background-image: url("../../../../assets/images/truck.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 438px;
  @apply hidden lg:block;
}
